button.tony-button{
  background-color:hotpink;
}

button.tony-button:hover{
  background-color:green;
  color:hotpink;
}
.redcol{
  border:1px dotted hotpink;
}
.navbar-defaultnavbar-fixed-top{
  width:1px;
  height: 50px;
  border-left-style: solid;
  display: inline-block;
  border-left-width: 1px;
  border-left-height: 50px;
  border-left-color: black;
  display: block;
  min-height:56px;
  background-color: white;

}

.sub-box{
  width:1px;
  height: 50px;
  display: inline-block;
border-left-style: solid;
border-left-width: 1px;
border-left-color: black;

}

.radio-inline{
  margin: auto;
  width: inherit;
  align-items: center;
  display: inline-block;
  width: inherit;
  
}

.radio{
border-bottom-color: rgb(214, 213, 212);
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: border-box;
color: rgb(0, 0, 0);
display: table;
font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
height: 57px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 255.5px;
margin-right: 255.5px;
margin-top: 0px;
padding-bottom: 10px;
padding-left: 60px;
padding-right: 60px;
padding-top: 30px;
text-align: center;
white-space: nowrap;
width: 409px;
}
